* {
    font-family: "微软雅黑";
}

a {
    text-decoration: none;
    color: #000000;
}

.zn_qn {
    width: 100%;
    background-color: #f5f5f5;
}

.zn_width {
    width: 1170px;
}

.main-container {
    width: 1170px !important;
}

.main-container.col2-right-layout {
    margin-top: 10px;
}

.main-container.col1-layout .main {
    background-color: #fff;
}

.carouselheight {
    height: 270px;
}

.zn_xz {
    height: 270px;
}

.zn_indeximg {
    background-color: #fff;
    height: 130px;
    border: 2px solid #ececec;
}

.zn_indeximg img {
    padding-top: 12px;
}

.zn_indexfont {
    font-size: 13px;
}

.zn_xz .zn_indexfont {
    width: 222px;
    padding-top: 18px;
    margin: 0 auto;
}

.zn_indeximg1 {
    margin-top: 10px;
}

.zn_indexz {
    margin-top: 15px;
}

.zn_indexa {
    /*width: 850px;*/
    height: 130px;
    border: 2px solid #ececec;
    background-color: #fff;
    margin-top: 12px;
}

.zn_indexd {
    /*width: 850px;*/
    height: 365px;
    border: 2px solid #ececec;
    background-color: #fff;
}

.zn_indexb {
    /* width: 850px;*/
    height: 220px;
    border: 2px solid #ececec;
    margin-top: 15px;
    background-color: #fff;
}

.zn_indexc {
    height: 365px;
    border: 2px solid #ececec;
    background-color: #fff;
    margin-top: 12px;
}

.zn_indexe {
    height: 365px;
    border: 2px solid #ececec;
    background-color: #fff;
}

.zn_indexa1 {
    height: 90px;
}

.zn_indexa2 {
    height: 30px;
}

.zn_indexa1title {
    color: #fb0d1b;
    font-size: 15px;
    line-height: 36px;
}

.zn_indexa1data1 {
    color: #fb0d1b;
    font-size: 24px;
}

.zn_indexa1data2 {
    color: #fb0d1b;
    font-size: 14px;
}

.zn_indexa1bottom {
    border-bottom: 2px solid #fb0d1b;
    height: 12px;
}

.green {
    color: #379718;
}

.greenbottom {
    border-bottom: 2px solid #379718;
    height: 12px;
}

.zn_indexa2 a {
    text-decoration: none;
    color: #989898;
    font-size: 13px;
    float: right;
    line-height: 26px;
    margin-right: 9px;
}

.zn_indexc ul {
    padding: 0px;
    margin: 0px;
}

.zn_indexc ul li {
    list-style: none;
    line-height: 30px;
    font-size: 13px;
    border-bottom: 1px dashed #f1f1f1;
}

.zn_indexe ul {
    padding: 0px;
    margin: 0px;
}

.zn_indexe ul li {
    list-style: none;
    line-height: 30px;
    font-size: 13px;
    border-bottom: 1px dashed #f1f1f1;
}

.zn_indexctitle {
    font-size: 16px;
    line-height: 38px;
}

.zn_indexcname {
    color: #535353;
}

.zn_indexcfensi {
    float: right;
    color: #9a9a9a;
}

.zn_indexd {
    margin-top: 15px;
}

.zn_indexd p {
    color: #9a9a9a;
    font-size: 13px;
}

.zn_indexd a {
    text-decoration: none;
    font-size: 13px;
    color: #989898;
    float: right;
}

.zn_indexd > div {
    padding: 8px 0px;
}

.zn_indexd img {
    width: 250px;
    height: 140px;
    display: block;
}

.zn_indexdtitle {
    width: 152px;
    height: 40px;
    position: absolute;
    top: 112px;
    right: 14px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 16px;
    line-height: 40px;
}

.hotinfo ul {
    padding: 0;
    padding-top: 6px;
}

.hotinfo ul li {
    list-style-type: disc;
    color: #676767;
    margin-left: 12px;
}

.hotinfo ul li:hover {
    list-style-type: disc;
    color: #f96520;
}

.hotinfo ul li a {
    text-decoration: none;
    color: #676767;
    font-size: 12px;
    line-height: 31px;
}

.hotinfo ul li a:hover {
    color: #f96520;
}

.hotinfo .gengduo a {
    font-size: 13px;
    color: #989898;
    float: right;
}

.zn_indexblist {
    padding: 0;
    margin-top: 12px;
}

.zn_indexblist li {
    list-style: none;
    float: left;
    margin-right: 9px;
    height: 23px;
    /*border-bottom: 2px solid #ccc;*/
}

.zn_indexblist li a {
    text-decoration: none;
    color: #676767;
    font-size: 14px;
}

.zn_indexabc {
    padding: 0;
}

.zn_indexabc li {
    list-style: none;
    line-height: 25px;
}

.zn_indexabc li a {
    text-decoration: none;
    color: #676767;
    font-size: 12px;
}

.zn_indexb1 {
    padding: 0px 25px;
    padding-top: 10px;
}

.hotjijin .gengduo a {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 13px;
    color: #989898;
    float: right;
}

.zn_nav {
    font-size: 13px;
    line-height: 40px;
}

.zn_nav span {
    margin-right: 3px;
}

.zn_navred {
    color: #fd5200;
}

.reporttitle {
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px dotted #ccc;
    width: 820px;
    margin: 0 auto;
}

.reporttitle span {
    font-weight: 500;
}

.reporttitle a {
    text-decoration: none;
    font-size: 13px;
    color: #9a9a9a;
    float: right;
}

.reportthumbnail {
    padding: 18px 10px 0px 10px;
}

.reportthumbnail a {
    text-decoration: none;
    color: #000000;
    text-align: center;
    line-height: 24px;
}

.reportthumbnail > div {
    padding: 0px;
}

.reportthumbnail img {
    width: 195px;
    height: 265px;
}

.reportfy ul li a {
    border: 0;
    color: #868686;
}

.reportfy ul {
    margin: 0 0;
}

.reportcontainer {
    background-color: #fff;
    width: 850px;
    padding-bottom: 30px;
}

.reportcontainerimg img {
    width: 820px;
    height: 253px;
    margin-top: 15px;
}

.strategytitle {
    background-color: #fff;
    border: 2px solid #ececec;
}

.strategytitle > span {
    font-size: 20px;
    color: #00000;
    font-weight: 500;
    line-height: 50px;
}

.themedetailtitle {
    background-color: #fff;
    border: 2px solid #ececec;
}

.themedetailtitle > span {
    font-size: 20px;
    color: #00000;
    font-weight: 500;
    line-height: 50px;
}

.strategytype {
    font-size: 15px;
    color: #292c2f;
    font-weight: 500;
    margin-left: 20px;
}

.strategydate {
    font-size: 15px;
    color: #292c2f;
    font-weight: 500;
    margin-left: 50px;
}

.strategydata > div {
    height: 130px;
    border-right: 2px solid #f4f5f5;
    padding-top: 40px;
}

.themedetaildata > div{
    height: 100px;
    border-right: 2px solid #f4f5f5;
    padding-top: 26px;
}

.strategyworth {
    font-size: 15px;
    color: #292c2f;
    font-weight: 500;
    margin-left: 120px;
}

.strategywortha {
    font-size: 36px;
    color: #f90000;
}

.strategyworthb {
    font-size: 10px;
    color: #f90000;
}

.strategyworthc {
    font-size: 36px;
    color: #c6151d;
}

.strategyup {
    color: #fa8331;
    font-size: 22px;
    width: 100px;
    margin: 5px auto;
}

.strategydown {
    color: #000000;
    font-size: 12px;
    width: 100px;
    margin: 0 auto;
}

.strategytable {
    margin-top: 20px;
    margin-left: 0px;
}

.strategytable table tr td {
    border-top: 0px;
    line-height: 25px;
    font-size: 15px;
}

.strategytable img {
    margin-left: 2px;
}

.strategystar {
    font-size: 16px;
    color: #000000;
}

.information {
    padding-left: 15px;
    padding-top: 5px;
}

.informationa {
    line-height: 40px;
}

.informationb {
    font-size: 13px;
    line-height: 22px;
}

.informationc {
    line-height: 50px;
}

.informationfy {
    margin-top: 20px;
}

.informationfy ul li a {
    border: 0;
    color: #868686;
}

.informationfy ul {
    margin: 0 0;
}

.infodetailtitle {
    line-height: 40px;
}

.infodetaildate {
    line-height: 50px;
}

.infodetail {
    padding: 15px 15px;
}

.persontopdetail > div {
    border-right: 2px solid #f4f5f5;
    height: 100px;
    padding-top: 30px;
    font-size: 15px;
}

.persontopdetail {
    margin-top: 25px;
}

.persondetailleft {
    color: #000000;
}

.persondetailright {
    color: #fc774b;
}

.persondatailinfo {
    background-color: #fff;
    padding: 18px 15px;
    margin-top: 15px;
    border: 2px solid #ececec;
    min-height: 800px;
}

.persondiv {
    border: 2px solid #ececec;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    height: 270px;
}

.persontitle {
    font-size: 24px;
    line-height: 80px;
}

.personlevel {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    top: 27px;
    background-color: #fa6720;
}

.personleveldata {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.persontoptitle {
    font-size: 17px;
    font-weight: 450;
    color: #343434;
}

.persontopdiv > div {
    background-color: #fff;
    padding-top: 20px;
}

.persontopdiv table tr td {
    color: #aaaaaa;
    border: 0px;
    border-bottom: 1px dotted #d4d4d4;
}

.persontopdiv table tr th {
    color: #aaaaaa;
    border-bottom: 1px dotted #d4d4d4;
}

.persontopdiv table tr td {
    color: #000000;
}

.persontopdiv table tr th {
    border: 0px;
}

.personname {
    width: 20px;
    height: 20px;
}

.persondata {
    float: right;
}

.persontopdiv > div {
    border-right: 1px solid #eaeaea;
}

.persontopname {
    margin-left: 8px;
}

.persontopxh {
    width: 11px;
    height: 16px;
    background-color: #a9a9a9;
    padding: 3px 4px;
    color: #fff;
    text-align: center;
}

.shanghaik {
    height: 170px;
    border-bottom: 1px solid #e4e5e6;
}

.shanghaih {
    border-right: 1px solid #e4e5e6;
    margin-top: 30px;
    height: 120px;
}

.shanghaih > div {
    width: 300px;
    height: 90px;
    margin: 0 auto;
    border-bottom: 2px solid #e40000;
}

.shanghaih > div span {
    font-size: 16px;
    color: #e40000;
    line-height: 40px;
}

.shanghaih1 {
    color: #e40000;
    font-size: 20px;
    line-height: 40px;
}

.shanghaih2 {
    margin-right: 10px;
    text-align: right;
    color: #e40000;
    font-size: 15px;
}

.shanghail {
    border-right: 1px solid #e4e5e6;
    margin-top: 30px;
    height: 120px;
}

.shanghail > div {
    width: 300px;
    height: 90px;
    margin: 0 auto;
    border-bottom: 2px solid #007f00;
}

.shanghail > div span {
    font-size: 16px;
    color: #007f00;
    line-height: 40px;
}

.shanghail1 {
    color: #007f00;
    font-size: 20px;
    line-height: 40px;
}

.shanghail2 {
    margin-right: 10px;
    text-align: right;
    color: #007f00;
    font-size: 15px;
}

.shanghaiupdate {
    font-size: 12px;
    line-height: 100px;
    color: #9fa0a1;
}

.searchinfotable tbody tr th {
    border-top: 0px;
    line-height: 50px;
    background-color: #fff8ef;
}

.searchinfotable {
    margin-bottom: 100px;
}

.searchinfotable tbody tr td {
    border-top: 0px;
    line-height: 40px;
    border-bottom: 1px solid #f0f0f0;
    color: #a3a3a3;
}

.searchhong {
    color: #fb0000;
}

.searchlv {
    color: #008c00;
}

.searchhui {
    color: #a3a3a3;
}

.searchtable tbody tr th {
    color: #acacac;
    border-top: 0px;
    border-bottom: 1px dotted #f1f1f1;
}

.searchtable tbody tr td {
    border-top: 0px;
    border-bottom: 1px dotted #f1f1f1;
    line-height: 25px;
    color: #676767;
}

.searchname {
    margin-left: 8px;
}

.searchnum {
    float: right;
}

.searchpx {
    width: 22px;
    height: 22px;
    background-color: #a8a8a8;
    color: #fff;
}

.searchtable {
    margin-top: 15px;
    margin-bottom: 150px;
}

.sentimenta {
    background-color: #fff;
    border: 2px solid #ececec;
    padding: 20px 15px;
    height: 270px;
}

.sentimentb {
    border: 2px solid #ececec;
    background-color: #fff;
    line-height: 45px;
    margin-top: 15px;
}

.sentimentb span {
    color: #fa6500;
    font-size: 17px;
    margin-left: 20px;
}

.sentimentlevel {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    position: absolute;
    top: 110px;
    left: 125px;
    background-color: #fa6720;
}

.sentimentleveldata {
    font-size: 24px;
    color: #fff;
    line-height: 45px;
}

.sentimentc {
    border: 2px solid #ececec;
    background-color: #fff;
    margin-top: 15px;
}

.sentimentc table {
    margin-bottom: 0px;
}

.sentimentc table tbody tr td {
    line-height: 50px;
    border-top: 0px;
    border-bottom: 1px dotted #f1f1f1;
}

.sentimentc table tbody tr td a {
    margin-left: 15px;
}

.sentimentatitle {
    font-size: 22px;
    line-height: 70px;
}

.sentimentadata {
    border-right: 2px solid #f3f4f4;
    line-height: 40px;
}

.sentimentatiezi {
    line-height: 40px;
    text-align: center;
}

.zn_modal {
    font-size: 20px;
}

.zn_modalapp {
    color: #f96e1f;
}

.nsentimentrz {
    font-size: 13px;
    color: #f77a00;
    margin: 0px 8px;
}

.nsentimentsex {
    font-size: 17px;
    color: #f77a00;
}

.nsentimentsum {
    color: #f77a00;
}

.nsentimenta {
    line-height: 67px;
    text-decoration: none;
    color: #000;
}

.zn_loginusername {
    width: 243px;
    height: 40px;
    border: 1px solid #e8e8e8;
    border-left: 0px;
    padding-left: 5px;
}

.zn_loginbg {
    background: url(../img/login.jpg) center no-repeat;
    height: 564px;
    background-color: #e7eaef;
}

.zn_logink {
    width: 350px;
    height: 450px;
    margin-left: 63%;
    margin-top: 50px;
    background-color: #fff;
}

.zn_logina {
    height: 50px;
    background-color: #647484;
}

.zn_logina span {
    font-size: 22px;
    color: #fff;
    line-height: 50px;
}

.zn_loginb {
    height: 123px;
}

.zn_loginbyz {
    line-height: 36px;
    margin-left: 36px;
    color: red;
    font-size: 13px;
}

.zn_loginb > div {
    height: 40px;
    margin-top: 29px;
}

.help-block {
    padding-left: 30px;
    line-height: 23px;
}

.zn_loginb img {
    width: 40px;
    height: 40px;
    border: 1px solid #e8e8e8;
    border-right: 0;
    margin-top: -1px;
}

.zn_loginbza {
    width: 40px;
    height: 40px;
    background: url(../img/zn_regphone.png) center no-repeat;
    float: left;
    margin-top: 0px;
    border: 1px solid #e8e8e8;
    margin-left: 30px;
}

.zn_loginbzb {
    width: 40px;
    height: 40px;
    background: url(../img/zn_loginimg.jpg) center no-repeat;
    float: left;
    margin-top: 0px;
    border: 1px solid #e8e8e8;
    margin-left: 30px;
}

.zn_loginc {
    height: 50px;
}

.zn_loginc a {
    text-decoration: none;
    font-size: 13px;
    color: #f8703b;
    margin-left: 250px;
    line-height: 50px;
}

.zn_logind button {
    border: 0;
    color: #fff;
    width: 283px;
    height: 40px;
    background-color: #fc6620;
    font-size: 18px;
}

.zn_logine {
    height: 6px;
    background: url(../img/zn_border.jpg);
    width: 330px;
    margin: 0 auto;
}

.zn_loginf {
    font-size: 17px;
    line-height: 50px;
    padding-left: 15px;
}

.zn_loging {
    height: 50px;
}

.zn_loging a {
    text-decoration: none;
    font-size: 13px;
    color: #f8703b;
    line-height: 50px;
}

.zn_loginkj {
    line-height: 50px;
    padding-left: 10px;
}

.zn_loginkj a {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

.zn_loginkj a img {
    width: 32px;
    height: 32px;
}

.zn_reg {
    width: 243px;
    height: 40px;
    border: 1px solid #e8e8e8;
    border-left: 0px;
    padding-left: 5px;
}

.zn_regbg img {
    width: 40px;
    height: 40px;
    border: 1px solid #e8e8e8;
    border-right: 0;
    margin-top: -1px;
}

.zn_regbg > div {
    margin-top: 0px;
}

.zn_regname {
    width: 120px;
    height: 40px;
    float: left;
    line-height: 40px;
    font-size: 15px;
    text-align: right;
    color: #64636b;
}

.zn_regnameyz {
    height: 25px;
    padding-left: 120px;
    line-height: 25px;
    font-size: 13px;
    color: red;
}

.zn_regstar {
    color: #fc1580;
}

.zn_regtk {
    line-height: 30px;
    font-size: 13px;
}

.zn_regtk a {
    text-decoration: none;
    color: #29869f;
}

.zn_regbutton button {
    border: 0;
    color: #fff;
    width: 283px;
    height: 40px;
    background-color: #fc6620;
    font-size: 18px;
    margin-top: 5px;
    margin-left: -30px;
}

.zn_reglogin {
    line-height: 50px;
    font-size: 14px;
}

.zn_reglogin span {
    margin-left: 18px;
}

.zn_reglogin a {
    text-decoration: none;
    color: #29869f;
}

.user-register .main-container .main {
    height: 652px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-top: 110px;
    background-image: url(../img/registeredbg.jpg);
}

.zn_phonereg {
    width: 80px;
}

.zn_phonebutton {
    height: 40px;
    width: 155px;
    border: 1px solid #dddddd;
    background-color: #f7f7f7;
    padding-top: 3px;
    margin-left: 4px;
    transition: background-color 0.5s;
}

.zn_phonebutton:hover {
    background-color: #eeeeee;
}

.zn_phonebuttonaction {
    background-color: #eeeeee;
}

.strategynav {
    height: 42px;
    background-color: #fff;
    border: 2px solid #ededed;
}

.strategynav ul {
    padding: 0;
}

.strategynav ul li {
    list-style: none;
    width: 95px;
    height: 42px;
    float: left;
    line-height: 38px;
    font-size: 16px;
    border-right: 1px solid #ededed;
    text-align: center;
}

.strategynav ul li a {
    text-decoration: none;
}

.strategynav ul li a:hover {
    text-decoration: none;
    color: #fb4300;
}

.steategycontainer {
    background-color: #fff;
    margin-top: 10px;
}

.zn_leftmenu {
    border: 2px solid #ececec;
    background-color: #fff;
    font-size: 16px;
    color: #5a5a5a;
}

.zn_leftmenu span {
    line-height: 55px;
    padding-left: 15px;
}

.zn_leftmenu ul {
    padding: 0;
    margin: 0;
}

.zn_leftmenu ul li {
    list-style: none;
    line-height: 55px;
    padding-left: 50px;
    border-top: 1px dotted #eff0f1;
    border-left: 3px solid #fff;
}

.zn_leftmenu ul li a {
    text-decoration: none;
    color: #5a5a5a;
}

.zn_leftmenu ul li:hover {
    border-left: 3px solid #fa6720;
    background-color: #f8f8f9;
}

.zn_leftmenu ul li a:hover {
    color: #fa6720;
}

.zn_leftmenutop {
    margin-top: 10px;
}

.zn_rightinfo > span {
    line-height: 80px;
    margin-left: 15px;
    font-size: 20px;
}

.zn_rightinfo {
    background-color: #fff;
    border: 2px solid #ececec;
    padding-bottom: 15px;
}

.zn_rightinfo .zn_rightinfodetail {
    color: #727272;
    font-size: 15px;
    line-height: 25px;
    padding: 0 15px;
}

.zn_aboutque {
    padding: 0;
}

.zn_aboutque li {
    list-style: none;
    border-bottom: 1px dashed #edeeef;
}

.zn_aboutque li a {
    text-decoration: none;
    color: #5a5a5a;
    font-size: 16px;
    line-height: 50px;
    padding-left: 20px;
}

.zn_aboutque div {
    font-size: 15px;
    color: #929394;
    padding: 5px 15px;
    line-height: 26px;
}

.zn_aboutquetitle {
    color: #f95e00 !important;
}

.zn_aboutquediv {
    display: none;
}

.financialname {
    width: 155px;
    line-height: 38px;
    float: left;
    text-align: right;
    color: #464747;
    font-size: 15px;
    padding-right: 15px;
}

.financialinput {
    width: 320px;
    height: 38px;
    border: 1px solid #e9eaea;
    line-height: 38px;
}

.financialselect {
    width: 158px;
    height: 38px;
    border: 1px solid #e9eaea;
    line-height: 38px;
    background-color: #fff;
}

.financiala {
    width: 550px;
    margin-top: 30px;
    margin-left: 60px;
}

.financialb {
    margin-top: 30px;
    margin-left: 60px;
    height: 130px;
}

.financiala > div {
    margin-top: 15px;
}

.financialc {
    width: 550px;
    margin-top: 30px;
    margin-left: 60px;
}

.financialc > div {
    margin-top: 15px;
}

.financialbg {
    border: 2px solid #ececec;
    height: 1100px;
    background: #fff;
    padding: 0;
}

.financialtitle {
    width: 150px;
    height: 17px;
    border-left: 5px solid #fa4900;
    font-size: 17px;
    line-height: 17px;
    padding-left: 30px;
    margin-top: 30px;
}

.financialbimg {
    width: 107px;
    height: 68px
}

.financialbimgbg {
    background: url(../img/scbutton.png) center no-repeat;
    position: absolute;
    width: 107px;
    height: 36px;
    top: 591px;
}

.financialbbutton {
    width: 107px;
    height: 35px;
    opacity: 0;
    z-index: 999;
}

.financialbinfo {
    height: 100px;
    width: 500px;
    float: left;
    color: #464747;
    font-size: 13px;
    margin-left: 150px;
    line-height: 23px;
}

.zn_tjlg {
    background-color: #fc6620;
    width: 150px;
    height: 50px;
    border: 0;
    color: #fff;
    font-size: 16px;
    margin-left: 215px;
    margin-top: 20px;
}

.fuseryue1 {
    float: left;
    width: 135px;
    line-height: 40px;
    border-right: 1px solid #ccc;
    margin-top: 25px;
    font-size: 17px;
}

.fuseryue2 {
    float: left;
    width: 105px;
    line-height: 40px;
    margin-top: 25px;
    font-size: 24px;
    color: #fc6620;
}

.fuserbutton {
    width: 100px;
    height: 30px;
    background-color: #fc6620;
    text-decoration: none;
    color: #fff;
}

.zn_hui {
    background-color: #d1d1d1;
}

.fuserinfotitle {
    margin-left: 30px;
    font-size: 14px;
    line-height: 50px;
}

.fuserinfotitleaction {
    font-weight: 800;
}

.fuserleft {
    width: 150px;
    line-height: 36px;
    float: left;
    text-align: right;
    color: #a2a3a4;
    font-size: 15px;
}

.fuserright {
    line-height: 36px;
    color: #000000;
}

.fusertitle {
    font-size: 20px;
    height: 30px;
    margin-top: 20px;
    padding-left: 20px;
}

.fuserinfo {
    height: 60px;
    padding-left: 20px;
}

.fuserinfo a {
    text-decoration: none;
}

.fuserinfo a:hover {
    color: #000000;
}

.fuserxg a {
    font-size: 13px;
    color: #fa6821;
    margin-left: 10px;
    text-decoration: none;
}

.fuserinput {
    width: 300px;
    border: 1px solid #e8e9ea;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}

.fusertouxiang {
    font-size: 15px;
    padding-left: 50px;
}

.fusertouxiang_img {
    background: url(../img/fuser_btn.png) center no-repeat;
    position: absolute;
    top: 123px;
    width: 202px;
    height: 33px;
}

.fusertouxiang_btn {
    width: 202px;
    height: 33px;
    border: 1px solid red;
    opacity: 0;
}

.fusertouxiang span {
    font-size: 13px;
    line-height: 45px;
}

.fusertouxiang_k {
    width: 570px;
    height: 320px;
    border: 1px solid #eaeaea;
    margin-top: 10px;
}

.fusertouxiang_k img {
    width: 200px;
    height: 200px;
    margin-top: 60px;
}

.zn_rightinfo table thead tr th {
    border-bottom: 1px solid #e5e5e5 !important;
}

.zn_rightinfo table tbody tr td {
    border-top: 0;
    border-bottom: 1px dotted #e5e5e5;
    color: #a4a4a4;
}

.fuserfy {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.fuserfy ul li {
    list-style: none;
}

.fuserfy ul li a {
    text-decoration: none;
    font-size: 14px;
    float: left;
    margin-left: 15px;
}

.zn_regbg > .form-group {
    height: 48px;
}

.zn_regbg .form-inline .form-group {
    height: 63px;
}

.zn_regbg .control-label {
    float: left;
    width: 80px;
    text-align: right;
    height: 50px;
    line-height: 42px;
    padding-right: 5px;
    font-weight: normal;
}

.zn_regbg .form-control {
    width: 300px;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    padding-left: 43px;
    height: 40px;
}

.help-block {
    margin-top: 3px;
}

.progressdiv {
    height: 25px;
    width: 110px;
    margin-left: 54px;
    margin-top: 7px;
    background: url(../img/wstar.png) repeat-x;
}

.industryprogress{
     height: 25px;
    width: 110px;
    margin-left: 68px;
    margin-top: 7px;
    background: url(../img/wstar.png) repeat-x;
}

.progressstar {
    line-height: 25px;
    background: url(../img/qstar.png) repeat-x;
}

#registerform-nickname {
    background: url(../img/zn_reghead.png) left no-repeat;
}

#registerform-mobile {
    background: url(../img/zn_regphone.png) left no-repeat;
}

#registerform-code {
    background: url(../img/zn_regphone.png) left no-repeat;
    width: 138px;
}

#registerform-password {
    background: url(../img/zn_loginimg.jpg) left no-repeat;
}

#registerform-password2 {
    background: url(../img/zn_loginimg.jpg) left no-repeat;
}

.topupdiv {
    background-color: #feffff;
    height: 800px;
    width: 1140px;
    margin: 0 auto;
}

.topupdiv > span {
    font-size: 20px;
    line-height: 80px;
    padding-left: 30px;
}

.fbtopup {
    width: 990px;
    margin: 0 auto;
}

.fbtopup > div {
    height: 120px;
    margin-bottom: 80px;
}

.fbtopup > div > .col-md-6 > img {
    width: 120px;
    height: 120px;
    box-shadow: #665 -2px 4px 16px;
}

.fbs {
    line-height: 25px;
    margin-top: 18px;
    font-size: 16px;
}

.fbje {
    line-height: 25px;
    font-size: 16px;
}

.fbbuy {
    margin-top: 20px;
}

.fbbuy a {
    background: #fb9941;
    padding: 8px 30px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.zn_pro {
    width: 100px;
    height: 80px;
    float: left;
}

.zn_prodiv1 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 auto;
}

.zn_probordera {
    border: 1px solid #fc6620;
}

.zn_proborderb {
    border: 1px solid #fff;
}

.zn_probordera > div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fc6620;
    margin: 6px 0 0 6px;
}

.zn_proborderb > div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e2e3e4;
    margin: 6px 0 0 6px;
}

.zn_prodiv1 > div span {
    line-height: 35px;
    font-size: 17px;
    color: #fff;
}

.zn_protext {
    font-size: 15px;
    line-height: 40px;
    text-align: center;
}

.zn_protexta {
    color: #fc6620;
}

.zn_protextb {
    color: #000;
}

.zn_proline {
    width: 320px;
    height: 28px;
    float: left;
}

.zn_prolina {
    border-bottom: 3px solid #fc6620;
}

.zn_prolinb {
    border-bottom: 3px solid #e2e3e4;
}

.zn_findpass {
    width: 380px;
    height: 70px;
    margin: 0 auto;
}

.zn_findpass > div {
    float: left;
}

.zn_findpass > div >img {
    width: 73px;
    height: 53px;
}

.zn_findpass >span {
    font-size: 25px;
    line-height: 59px;
    color: #fc6620;
    margin-left: 45px;
}

.zn_popover {
    width: 500px;
    height: 180px;
    position: relative;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
}

.zn_popover1 {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -30px;
    left: 300px;
}

.zn_popover2 {
    border: 15px solid;
    border-color: #ccc transparent transparent transparent;
    width: 0px;
    height: 0px;
    position: absolute;
}

.zn_popover3 {
    position: absolute;
    border: 15px solid;
    border-color: #fff transparent transparent transparent;
    width: 0px;
    height: 0px;
    top: -2px;
}

.zn_popover4 {
    font-size: 15px;
    margin: 5px;
}
        .zn_rightinfomenu{
            height: 50px;
            line-height: 50px;
            width: 460px;
            margin: 0 auto;
        }
.zn_rightinfochild{
    float: left;
    
}
.zn_rightinfochild{
    margin-left: 40px;
}
.zn_rightinfochild > span{
    margin-left: 10px;
}
.zn_rightinfochilda{
    color: #63320b;
}
.zn_rightinfochildb{
    color: #f96721;
}
.zn_rightinfochildc{
    color: #366997;
}
.datacharcontent{
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.datachar{
    height: 200px;margin-top: 10px;margin-left: 20px;
}

.themeinfo{
    padding: 20px 40px;
    font-size: 16px;
    color: #101010;
}

.themebtn{
    width: 1100px;height: 47px;margin: 0 auto;margin-top: 30px;
}


.themebtn > div > button{
    width: 100%;height: 42px;border:0;border-bottom: 2px solid #fd7848;background-color:#fff;
}

.themebtn > div > button:focus{
    outline: 0;
}

.themebtnaction{
    background-color: #fd7848 !important;
    color: #fff;
}
.themecontent > div{
    display: none;
}

.themefund table > thead > tr > th{
    border-bottom: 0;
    line-height: 45px;
}
.themefund table > tbody > tr > td{
    border-top: 0;
    line-height: 45px;
}
.themestock table > thead > tr > th{
    border-bottom: 0;
    line-height: 45px;
}
.themestock table > tbody > tr > td{
    border-top: 0;
    line-height: 45px;
}
.themecontent > div > table{
    width: 1070px;margin: 5px auto ;
}
